<div id="home">
  <p>
    Welcome to Spliced, the game that lets you draw an exquisite corpse with your friends. To start, click the Create Game button below!
  </p>
  <div id="divButton1">
    <a class="button" ng-click="createGame(2)">Create 2 Player Game</a>
  </div>
  <div id="divButton2">
    <a class="button" ng-click="createGame(4)">Create 4 Player Game</a>
  </div>
  <div class="enter-code-form">
    <p>If you have a game code, enter it here:</p>
    <input type="text" placeholder="Your code" ng-model="gameCode" />
    <a class="button minor" ng-click="enterCode(gameCode)">Submit</a>
  </div>
</div>