<div id='draw'> 
  <div class="drawing-area" ng-hide="data.submitted">
    <p class="user-message">You are drawing the {{ data.bodyPart[data.userId] }}!</p>
    <p class="user-message">{{ data.instructions[data.userId] }}!</p>
    <div pw-canvas options="{undo: true, width: data.width, height: data.height, color: '#000', lineWidth: 4, imageSrc: data.templateSrc}" ng-model="data.drawing" class="canvas-container" version="data.drawing.version"></div>
    <a class="button" ng-click="save()">Save Drawing</a>
    <a ng-click="undo()" class="button minor">Undo</a>
  </div>

  <div class="drawing-success" ng-show="data.submitted">
    {{ data.success }}
    <p><a ng-click="getGameStatus()" class="button">OK</a></p>
  </div>

</div>